<footer class="footer bg-primary text-white py-0">
  <div class="container presta-mt-8">
    <div class="row">
      <div class="col-lg-5">

        <h4 class="text-white presta-mb-6">PrestaPoints</h4>
        <p class="presta-pr-11 presta-mb-7">PrestaPoints permet à des passionnés de partager leur savoir-faire avec des novices à travers des ateliers et d'obtenir des réductions dans des grandes enseignes</p>
    
        <div class="socials socials--large socials--white-base socials--rounded presta-mt-6">
          <a href="https://www.facebook.com" class="social social-facebook" aria-label="facebook"><i class="bi bi-facebook fs-3"></i></a>
          <a href="https://twitter.com" class="social social-twitter" aria-label="twitter"><i class="bi bi-twitter fs-3"></i></a>
          <a href="https://www.youtube.com" class="social social-youtube" aria-label="youtube"><i class="bi bi-youtube fs-3"></i></a>
          <a href="https://www.instagram.com" class="social social-instagram" aria-label="instagram"><i class="bi bi-instagram fs-3"></i></a>
        </div>
      </div>

      <div class="col-lg-3 mt-lg-2 mt-5">
        <h5 class="text-white presta-mb-5">Liens utiles</h5>
        <div class="presta-links presta-mt-6">
          <a href="#" class="nav-link mb-3">Notre mission</a>
          <a href="#" class="nav-link mb-3">Nos partenaires</a>
          <a href="#" class="nav-link mb-3">Rejoindre notre équipe</a>
          <a href="#" class="nav-link mb-3">Devenir artisan PrestaPoints</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-lg-start flex-row mt-lg-2 mt-5">
        <aside class="widgets_tags">
          <h5 class="widget-title">Tags</h5>
          <div class="entry__tags presta-text-fs-20 presta-text-fw-bold presta-mt-6">
            <div rel="tag" *ngFor="let tag of tags">
              <a (click)="navigateToCategoryDetails(tag.id ?? 0)" class="no-link tag-link">{{ tag.name }}</a>
            </div>
          </div>
        </aside>
      </div>         

      <div class="col-12 text-center mt-lg-5 mt-5">
        <p class="footer-bottom presta-text-fs-20">&copy; 2023 PrestaPoints. Tous droits réservés.</p>
      </div>

    </div>
  </div>
</footer>
