@import "/src/styles/variables.scss";
@import '~font-awesome/css/font-awesome.css';

.card-details-maxi {
    background-color: #FFFFFF;
    border-radius: 20px;

    .widgets_tags {
        .entry__tags {
        display: flex;
        flex-wrap: wrap;

            div {
                background-color: grey;
                color: white;
                padding: 0.25rem;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                transition: background-color 0.3s;
                border-radius: 5px;

                a.tag-link {
                color: white;
                text-decoration: none;
                }

                &:hover {
                background-color: map-get($theme-colors, quinary);
                }
            }
        }
    }

}
