<div class="card custom-category-card" (click)="openCategoryDetails()">
  <div class="card-body d-flex flex-column">
    <img [src]="category.img" alt="{{ category.name }} Image" class="card-img-top">
    <div class="row presta-mt-8">
      <div class="col-9 d-flex align-items-center">
        <h6 class="category-text text-primary fw-bold text-truncate">{{ category.name }}</h6>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <span class="material-symbols-outlined text-secondary">
          expand_circle_right
        </span>
      </div>
    </div>
  </div>
</div>
