@import "/src/styles/variables.scss";

.custom-category-card {
    
    @media (max-width: 767px) {
        width: 18rem; 
        height: auto;
    }

    @media (min-width: 768px) {
        width: 12rem; 
        height: 20rem;
    }
}