.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.testimonial-card {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.comment-quote {
  position: relative;
}

.comment-quote:before {
  content: "\201C"; /* Code Unicode pour les guillemets doubles ouvrants */
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 40px;
  color: #ccc;
}

.comment-quote:after {
  content: "\201D"; /* Code Unicode pour les guillemets doubles fermants */
  position: absolute;
  bottom: -15px;
  right: -15px;
  font-size: 40px;
  color: #ccc;
}
