<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <p class="text-muted fw-light  m-0"><small>Prestapoints / {{ prestation?.type?.name }} /
                        {{ prestation?.type?.category?.name }}</small></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-primary fw-bold m-0 text-wrap">{{ prestation?.title }}</p>
                <div class="d-flex flex justify-content-between w-50 mt-3">
                    <p class="text-danger text-truncate m-0">
                        <i class="bi bi-geo-alt text-muted"></i>
                        {{ prestation?.location?.city }}
                    </p>

                    <p class="text-primary d-flex flex m-0">
                        <i class="bi bi-alarm me-3"></i> {{ prestation?.duration | date: "h"}}h
                    </p>
                </div>

                <div class="mt-5 w-100">
                    <p class="text-primary mt-5">Quand souhaites-tu faire cette activité ?</p>
                    <ul class="list-group list-group-flush mb-5">
                        <!-- boucler sur la liste des dates ensuites -->
                        <li class=" list-group-item border-top border-bottom d-flex flex justify-content-between">
                            {{ prestation?.getDateTimeStartString }}
                            <span class="badge rounded-pill text-bg-light ">Nombre de place disponible :
                                {{ prestation?.placeAvailable }} </span>
                            <button (click)="addRegistration(prestation?.id) "
                                class="btn bg-secondary badge rounded-pill"
                                [disabled]="prestation?.placeAvailable === 0" data-bs-dismiss="modal">
                                {{ prestation?.placeAvailable === 0 ? 'Complet' : 'Je réserve' }}</button>
                            <button [disabled]="!isRegistered" (click)="undoRegistration(prestation?.id)" class="btn bg-secondary badge rounded-pill" 
                                data-bs-dismiss="modal">
                                Me désinscrire</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
