<div class="bg-primary py-5">
    <div class="d-flex flex-column ps-5 text-lg-end me-5 ">
        <a class="text-decoration-none text-secondary fw-bolder fs-4 fs-sm-3 fs-md-2 fs-lg-1" href="/">
          <div class="d-flex align-items-center">
            <span class="pe-2">P</span>
            <span class="px-2">R</span>
            <span class="px-2">E</span>
            <span class="px-2">S</span>
            <span class="px-2">T</span>
            <span class="px-2">A</span>
            <span class="text-decoration-none text-secondary fw-light h1 mb-0 ">|</span>
            <span class="px-2">P</span>
            <span class="px-2">O</span>
            <span class="px-2">I</span>
            <span class="px-2">N</span>
            <span class="px-2">T</span>
            <span class="ps-2">S</span>
          </div>
        </a>
      </div>
    <div class="container">

            <h3 class="text-tertiary text-center pt-5 my-5">MON COMPTE</h3>

            <div class="row d-flex justify-content-around">
                <div class="col-sm w-100 w-sm-50 mx-5 text-center">
                    <h4 class=" mb-4 text-tertiary">Créer son compte</h4>
                    <app-form-user></app-form-user>
                </div>
                <div class="col-sm w-100 w-sm-50 mx-5 text-center">
                    <h4 class="mb-4 text-tertiary">Déjà inscrit ?</h4>
                    <app-log-in></app-log-in>
                </div>

        </div>
    </div>
</div>
