.btn-quinary {
    background-color: #e63757; 
    color: #fff; 
    border-color: #e63757; 
  
    &:hover,
    &:focus {
      background-color: #e63757; 
      color: #fff; 
      border-color: #e63757; 
      box-shadow: none; 
    }
  }
  