<div class="container mt-md-5 mt-5">
  <div class="d-flex justify-content-end position-relative my-md-4">
    <div class="position-absolute top-50 start-25 translate-middle presta-mb-7 presta-mt-4 center-mobile">
      <app-searchbar (prestationsEmitter)="onGetPrestation($event)"></app-searchbar>
    </div>
    <img
      src="https://cdn.pixabay.com/photo/2015/08/19/08/26/artisan-895670_1280.jpg"
      class="img-fluid w-50 shadow d-none d-md-block"
      alt="photo d'accueil"
    />
  </div>
  <div class="presta-pt-7 presta-mt-md-12 presta-mt-8">
    <div>
      <p class="my-0 fw-0 presta-pt-md-3 text-md-left">
        Découvrez les ateliers près de chez vous <i class="bi bi-arrow-right"></i>
      </p>
      <div class="border-top presta-mt-5"></div>
      <app-slider [prestationsApi]="prestationsApi"></app-slider>
    </div>
    <div class="presta-pt-5 mt-md-6">
      <p class="my-0 fw-0">
        Les avis de nos clients <i class="bi bi-arrow-right"></i>
      </p>
      <div class="border-top presta-mt-5"></div>
      <div class="d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let prestationApi of prestationsApi?.slice(0, 3)">
          <app-reviewscard [prestation]="prestationApi"></app-reviewscard>
        </ng-container>
      </div>
    </div>
    <div class="presta-py-5 my-md-7">
      <p class="my-0 fw-0 text-md-left">
        Découvrez les ateliers près de chez vous <i class="bi bi-arrow-right"></i>
      </p>
      <div class="border-top mt-5"></div>
      <app-slider-category></app-slider-category>
    </div>
  </div>
</div>
